.topnav {
    background-color: #00674b;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #FFAE42;
    color: black;
  }
  
  .topnav a.active {
    background-color: #F67B50;
  }

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

body {
    background-color: #FDF5E6 !important;
}