.topnav {
    background-color: #00674b;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #FFAE42;
    color: black;
  }
  
  .topnav a.active {
    background-color: #F67B50;
  }

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

body {
    background-color: #FDF5E6 !important;
}

@media only screen and (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
  }

  .topnav a {
    padding: 14px 16px;
    font-size: 17px;
  }
}