.topnav {
    background-color: #00674b;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #FFAE42;
    color: black;
  }
  
  .topnav a.active {
    background-color: #F67B50;
  }

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 10px;
}

h1, h2, p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  padding-top: 10px;
}

main {
  padding-top: 10px;
}

body {
  margin: 0;
  background-color: #FDF5E6 !important;
}

footer {
  background-color: #00674b;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

.map-link {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
  }

  .topnav a {
    padding: 14px 16px;
    font-size: 17px;
  }
}



