@keyframes fadeEffect {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

header {
    background-color: #006241;
    color: white;
    padding: 10px;
}

.header-grid-container {
    display: grid;
    grid-template-areas:
        "logo-text nav-icons navigation" 
        "nav-date nav-date nav-date";
}

.logo-text img {
    max-width: 30%;
    grid-area: logo-text;
}

.logo-text {
    grid-area: logo-text;
}

.logo-text h1, p { 
    margin: 5px;
}

.logo-text h1 {
    font-size: 18px;
}

.logo-text p {
    font-size: 16px;
}

.nav-icons {
    grid-area: nav-icons;
    margin-top: 25px;
}

.nav-icons img {
    height: 30px;
    width: auto;
}

.nav-icons a {
    text-decoration: none;
}

.nav-date, .visit-info {
    border: solid 8px #f4a259;
    background-color: #f4a259;
    text-align: center; 
    font-size: 20px; 
    color: black;
    grid-area: nav-date;
}

.navigation {
    list-style: none;
    grid-area: navigation;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none; 
    line-height: 1;
    padding: 10px;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.main-grid-container {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas:
      "hero" 
      "events"
      "weather"
      "news"
      "spotlight1"
      "spotlight2";
}

.main-grid-container > div {
    background-color: #f4e285;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 98, 65, 0.7);
}

.main-grid-container > .hero {
    padding: 0;
}

.events {
    grid-area: events;
}

.events h1,
.weather h1,
.join h1,
.news h1,
.spotlight1 h1,
.spotlight2 h1, 
.spotlight3 h1 {
    font-size: 22px;
    animation: fadeEffect 2s ease-in-out;
}

.events h2,
.weather h2,
.spotlight1 h2,
.spotlight2 h2, 
.spotlight3 h2 {
    font-size: 20px;
}

.events p,
.weather p,
.join p,
.news p,
.spotlight1 p,
.spotlight2 p, 
.spotlight3 p {
    font-size: 18px;
}

.events img {
    width: auto;
    height: 30px;
}
  
.weather {
    grid-area: weather;
}

.join {
    display: none;
}

.join button {
    padding: 20px; 
    margin-bottom: 10px;
    font-size: 24px; 
    background-color: #006241; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
  
.join button:hover {
    background-color: #f4a259; 
    cursor: pointer; 
}
  
.news {
    grid-area: news;
}

.hero {
    grid-area: hero;
    position: relative;
    overflow: hidden;
}

.hero img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero-button {
    position: absolute;
    top: 10px;
    left: 200px;
    text-align: center;
    color: white;
    background-color: rgba(0, 98, 65, 0.7);
    padding: 5px;
    margin-right: 5px;
    width: 100px;
}

.hero h1 {
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero button {
    padding: 10px; 
    margin-bottom: 10px;
    font-size: 16px; 
    background-color: #006241; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); 
}
  
.hero button:hover {
    background-color: #f4a259; 
    cursor: pointer; 
}

.spotlight1 {
    grid-area: spotlight1;
}

.spotlight2 {
    grid-area: spotlight2;
}

.spotlight3 {
    display: none;
}

.spotlight1 img,
.spotlight2 img, 
.spotlight3 img {
    height: 80px;
    width: auto;
}

footer {
    background-color: #006241;
    color: white; 
    padding: 10px;
}

.footer-grid-container {
    display: grid;
    grid-template-areas:
        "logo-address" 
        "contact-map"; 
    justify-items: center;
    align-items: center;
}

.logo-address img {
    max-width: 30%;
    grid-area: logo-address;
}

.logo-address {
    grid-area: logo-address;
    text-align: center;
}

.logo-address h1 {
    font-size: 18px;
}

.logo-address p {
    font-size: 16px;
}

.contact-map {
    grid-area: contact-map;
    text-align: center;
    padding-bottom: 5px; 
}

.contact-map a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.contact-map a:hover {
    color: #f4e285;
}

.modification-output {
    padding-top: 5px;
    border-top: solid 2px gray;
    font-size: 16px;
    text-align: center;
}

.image-grid-container {
    display: grid;
    grid-gap: 5px;
}

.image-grid-container img {
    max-width: 100%;
    height: auto;
}
  
.beach, .concert, .golf, .downtown, .hiking, .restaurants {
    background-color: #f4e285;
    padding: 10px;
}

.thank-you-container {
    position: relative;
    height: 100vh;
}

.thank-you-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f4e285;
}

.thank-you-overlay h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.thank-you-overlay p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form-title {
    color: red;
    font-size: 24px;
}

.membership-form {
    background-color: lightgray;
}

#membership_level {
    background-color: white;
}
  
.membership-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.membership-form input[type="text"],
.membership-form input[type="email"],
.membership-form input[type="tel"],
.membership-form textarea,
.membership-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
  
.membership-form select {
    padding-right: 20px;
}
  
.membership-form p {
    font-weight: bold;
    margin-top: 15px;
}
  
.membership-form ul {
    margin-top: 5px;
    margin-bottom: 10px;
}
  
.membership-form ul li {
    list-style: disc;
    margin-left: 20px;
}
  
.membership-form input[type="submit"] {
    background-color: #f4e285;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
  
.membership-form input[type="submit"]:hover {
    background-color: #f4a259;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
  
.main-container .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
  
.main-container .card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4e285;
}

.main-container .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
  
.main-container .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.main-container .card-content {
    padding: 10px;
}
  
.main-container .card-content h2 {
    margin-top: 0;
    font-size: 20px;
}
  
.main-container .card-content p {
    margin-bottom: 5px;
}
  
.main-container ul {
    list-style: none;
    padding: 0;
    background-color: #f4e285;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-container ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
  
.main-container ul li {
    margin-bottom: 20px;
}
  
.main-container ul li h2 {
    margin: 0;
    font-size: 20px;
}
  
.main-container ul li p {
    margin: 0;
}
  
.main-container #toggle-button {
    display: block;
    margin: 20px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    cursor: pointer;
}

.main-container #toggle-button:hover {
    background-color: #f4a259;
    color: black;
}
  
.main-container .directory-title {
    text-align: center;
}

.contact-section {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}
  
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
  
.contact-item {
    flex: 1 0 300px;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f4e285;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.contact-item img {
    width: 48px;
    height: 48px;
}
  
.contact-form {
    max-width: 600px;
    margin: 0 auto;
}
  
.contact-form h3 {
    margin-bottom: 20px;
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4e285;
}
  
.contact-form button {
    background-color: #f4a259;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#calendar-table th,
#calendar-table td {
    padding: 3px;
    font-size: 10px;
    border: none;
    text-align: center;
}

.event {
    margin-top: 2px;
    padding: 2px;
    background-color: #f4e285;
    cursor: pointer;
}

#calendar-month {
    font-size: 16px;
}

#calendar-table {
    padding-bottom: 10px;
}

.event:hover {
    background-color: #f4a259;
}

#weather-icon {
    width: 100px;
    height: 100px; 
}