.header-grid-container {
    margin: 0 auto;
    width: 100%;
    background-color: #006241;
    color: white;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
        "logo-image logo-text" 
        "navigation nav-icons"
        "nav-date nav-date";
}

.logo-image img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: logo-image;
    max-width: 50%;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: logo-text;
}

.logo-text h1, p { 
    margin: 5px;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text p {
    font-size: 18px;
}

.nav-icons {
    float: right;
    padding-right: 5px;
    padding-top: 25px;
    grid-area: nav-icons;
}

.nav-date {
    border: solid 8px #FF7F50;
    background-color: #FF7F50;
    max-width: 100%; 
    box-sizing: border-box;
    text-align: center; 
    font-size: 20px; 
    padding: 5px;
    color: black;
    grid-area: nav-date;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    float: right;
    border: solid 1px gray;
    margin-right: 5px;
    grid-area: navigation;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none; 
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.main-grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
      "hero" 
      "events"
      "weather"
      "news"
      "join"
      "spotlight";
}

 .main-grid-container > div {
    background-color: #A0A0A0;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
}

.events {
    grid-area: events;
    height: 100px;
}
  
.weather {
    grid-area: weather;
    height: 100px;
}

.join {
    grid-area: join;
    height: 100px;
}
  
.news {
    grid-area: news;
    height: 100px;
}

.hero {
    grid-area: hero;
    height: 100px;
}

.spotlight {
    grid-area: spotlight;
    height: 200px;

}

.footer-grid-container {
    margin: 0 auto;
    width: 100%;
    background-color: #006241;
    color: white;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
        "logo-footer"
        "footer-text"
        "contact-info"
        "map-link"
        "modification-output";
}

.logo-footer img {
    max-width: 30%;
    padding-top: 10px;
    grid-area: logo-footer;
}

.footer-text {
    grid-area: footer-text;
}

.footer-text h1 {
    font-size: 18px;
}

.footer-text p {
    font-size: 16px;
}

.contact-info {
    grid-area: contact-info;
    font-size: 16px;
}

.map-link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.map-link a:hover {
    color: yellow;
}

.modification-output {
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid 2px gray;
    line-height: 20px;
    grid-area: modification-output;
    font-size: 16px;
}