footer {
    background-color: #00674b;
    color: white;
    flex-direction: column; 
    display: flex;
    bottom: 0;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding-bottom: 10px;
}

.modification-output {
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid 2px gray;
    line-height: 20px;
}

.nav-date {
    border: solid 8px #2A8163;
    background-color: #2A8163;
    max-width: 100%; 
    box-sizing: border-box;
    text-align: center; 
    font-size: 20px; 
    padding: 5px;
}

.logo-footer img {
    max-width: 50%;
    padding-top: 10px;
}

.map-link a {
    text-decoration: none;
    color: white;
}

.map-link a:hover {
    color: yellow;
}

nav {
    margin: 0 auto;
    width: 100%;
    background-color: #00674b;
    color: white;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    float: right;
    border: solid 1px gray;
    margin-right: 5px;
}

.nav-icons {
    float: right;
    padding-right: 5px;
    padding-top: 25px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none; 
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.logo-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-image img {
    max-width: 30%;
}

.logo-text {
    display: flex;
    flex-direction: column;
    transform: translate(100px, -70px);
}

.logo-text h1,
.logo-text p {
    margin: 0;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text p {
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
      "hero hero" 
      "events events"
      "weather weather"
      "news news"
      "join join"
      "spotlight spotlight";
}

 .grid-container > div {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
}

.events {
    grid-area: events;
    height: 100px;
}
  
.weather {
    grid-area: weather;
    height: 100px;
}

.join {
    grid-area: join;
    height: 100px;
}
  
.news {
    grid-area: news;
    height: 100px;
}

.hero {
    grid-area: hero;
    height: 100px;
}

.spotlight {
    grid-area: spotlight;
    height: 200px;

}
