@media only screen and (min-width: 60em) {
  .header-grid-container {
    grid-template-areas:
      "logo-text navigation nav-icons";
  }
  
  .logo-text img {
    max-width: 20%;
  }

  .logo-text h1 {
    font-size: 22px;
  }

  .logo-text p {
    font-size: 20px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 30px;
  }

  .navigation li a {
    color: white; 
    font-size: 25px;
  }

  .nav-icons {
    justify-self: end;
    margin-top: 60px;
    padding-right: 10px;
  }

  .main-grid-container {
    grid-template-areas:
      "events hero spotlight"
      "weather hero spotlight"
      "join news spotlight";
  }

  .footer-grid-container {
    grid-template-areas:
      "logo-address contact-map";
  }

  .logo-address {
    text-align: left;
  }

  .logo-address h1 {
    font-size: 20px;
  }

  .logo-address p {
    font-size: 18px;
  }

  .contact-map a {
    font-size: 18px;
  }

  .contact-map p {
    font-size: 18px;
  }
}