@media only screen and (min-width: 60em) {
  .navigation {
    display: flex;
    flex-direction: row;
    border: none;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation li a {
    color: white; 
    font-size: 25px;
  }

  .main-grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-rows: 2fr 2fr 2fr; 
    grid-template-areas:
      "events hero spotlight"
      "weather hero spotlight"
      "join news spotlight";
  }

  .events {
    height: 180px;
  }
  
  .weather {
    height: 180px;
  }
  
  .join {
    height: 150px;
  }
  
  .news {
    height: 150px;
  }

  .hero {
    height: 410px;
  }

  .spotlight {
    height: 610px;
  }

}