@media only screen and (min-width: 32.5em) {
  .navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    float: right;
    border: solid 1px gray;
    margin-right: 5px;
  }

  .navigation li:first-child {
    display: block;
  }

  .navigation li {
    display: none;
  }

  .navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none; 
  }

  .navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
  }

  .responsive li {
    display: block;
  }

  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
      "hero hero hero"
      "news news news"
      "spotlight spotlight spotlight"
      "join join join"
      "events events weather";
  }

  .events {
    grid-area: events;
  }
  
  .weather {
    grid-area: weather;
  }
  
  .join {
    grid-area: join;
  }
  
  .news {
    grid-area: news;
  }

  .hero {
    grid-area: hero;
  }

  .spotlight {
    grid-area: spotlight;
  }

  footer {
    flex-direction: row; 
  }

  .logo-footer img {
    max-width: 80%;
  }

  .nav-icons {
  float: right;
  padding-right: 100px;
  padding-top: 25px;
  }

  .logo-text {
    text-align: left;
  }

  .modification {
    bottom: 0;
  }

  .contact-info {
    text-align: right;
  }

  .map-link {
    align-content: right; 
  }

}