@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation li a {
    color: yellow; 
  }

  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
      "hero hero hero"
      "news news news"
      "spotlight spotlight spotlight"
      "join join join"
      "events events weather";
  }

  .events {
    grid-area: events;
  }
  
  .weather {
    grid-area: weather;
  }
  
  .join {
    grid-area: join;
  }
  
  .news {
    grid-area: news;
  }

  .hero {
    grid-area: hero;
  }

  .spotlight {
    grid-area: spotlight;
  }

}