@media only screen and (min-width: 32.5em) {
  .logo-text h1 {
    font-size: 20px;
  }

  .logo-text p {
    font-size: 18px;
  }

  .nav-icons img {
    height: 50px;
    width: auto;
  }

  .navigation {
    font-size: 30px;
  }
  
  .main-grid-container {
    grid-template-areas:
      "hero hero" 
      "news news"
      "spotlight1 spotlight2"
      "join join"
      "events weather";
  }

  .join {
    grid-area: join;
    display: block;
  }

  .hero-button {
    top: 20px;
    left: 400px;
    padding: 10px;
    width: auto; 
  }

  .hero h1 {
    font-size: 22px;
  }

  .hero button {
    font-size: 20px; 
  }

  .spotlight3 {
    display: none;
  }

  .footer-grid-container {
    grid-template-areas:
      "logo-address contact-map";
  }

  .logo-address {
    text-align: left;
  }

  .logo-address h1 {
    font-size: 20px;
  }

  .logo-address p {
    font-size: 18px;
  }

  .contact-map a {
    font-size: 18px;
  }

  .contact-map p {
    font-size: 18px;
  }

  .image-grid-container img {
    transition: transform 0.3s ease-in-out;
  }

  .image-grid-container img:hover {
    transform: scale(1.1);
  }

  .image-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .image-grid-container p {
    font-size: 18px;
  }

  #calendar-table th,
  #calendar-table td {
      padding: 8px;
      font-size: 14px;
  }

  .event {
      margin-top: 4px;
      padding: 4px;
  }

  #calendar-month {
      font-size: 20px;
  }
}